node_modules
.idea/.gitignore
.idea/event_web_appplication.iml
.idea/material_theme_project_new.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.gitignore
dist/
dist/index.html
dist/assets/index-BUXpEG0H.css
dist/assets/index-DX7MEeYB.js
.idea/workspace.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_8_15_2025_1_40_PM__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_8_15_2025_1_41_PM__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_8_15_2025_1_40_PM_\[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_8_15_2025_1_41_PM_\[Changes]/shelved.patch
stats.html
structure.json
structure.txt
export-tree.js
