
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    overflow-x: hidden;
    width: 100%;
  }
  
  .container {
    max-width: 100%;
    overflow-x: hidden;
  }
  
/* Width of the vertical scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;  /* Reduced height of horizontal scrollbar */
}

/* Track (the background) */
::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

/* Handle (the moving part) */
::-webkit-scrollbar-thumb {
    background: #ff2459;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 37, 55);
}

